sudo: false
language: python
addons:
firefox: latest

python:
    - 2.7
    - 3.5

cache: pip

before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3  # give xvfb some time to start
    - wget https://github.com/mozilla/geckodriver/releases/download/v0.19.1/geckodriver-v0.19.1-linux64.tar.gz
    - mkdir geckodriver
    - tar -xzf geckodriver-v0.19.1-linux64.tar.gz -C geckodriver
    - export PATH=$PATH:$PWD/geckodriver

install:
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt

script:
    - scripts/run-pylint.sh
    - coverage run --source='.' manage.py test

after_script:
    - codecov
    - cat geckodriver.log
