{% extends "base.html" %}
{% load tagging_tags %}

{% block title %}{{ book.a_title }} :: Pathagar Book Server{% endblock %}

{% block script %}
  {{ block.super }}
  $('#search').example('Book Search...');
{% endblock %}

{% block content %}

<div id="content">

<h1 class="alt">{{ book.a_title }}</h1>
<h2>by <span class="alt">{{ book.a_author }}</span></h2>
<hr class="space">
{% if user.is_authenticated %}
<div class="span-3">
<a class="button" href="{% url pathagar.books.views.edit_book book.pk %}">Edit</a>
<a class="button" href="{% url pathagar.books.views.remove_book book.pk %}">Remove</a>
</div>
<hr class="space">
<hr class="space">
<div class="span-2"><label>Status:</label></div>
<div class="span-3">{{ book.a_status }}</div>
<hr class="space">
{% endif %}

{% if book.tags.count != 0 %}
  <div class="span-2"><label>Tags:</label></div>
  <div class="span-10">
  {% for tag in book.tags.all %}
    <a class="button" href="{% url by_tag tag.name %}">{{ tag.name }}</a>
  {% endfor %}
  </div>
  <hr class="space">
{% endif %}
<div class="span-16 colborder">
<div class="span-2"><label>Language:</label></div>
{% ifnotequal book.dc_language None %}
<div class="span-3">{{ book.dc_language }}</div>
{% else %}
<div class="span-3">Unknown</div>
{% endifnotequal %}
<hr class="space">
<div class="span-2"><label>Downloads:</label></div>
<div class="span-3">{{ book.downloads }}</div>
<hr class="space">
<div class="span-2"><label>Publisher:</label></div>
<div class="span-3">{{ book.dc_publisher }}</div>
<hr class="space">
<div class="span-2"><label>Published:</label></div>
<div class="span-3">{{ book.dc_issued }}</div>
<hr class="space">
<div class="span-2"><label>Rights:</label></div>
<div class="span-3">{{ book.dc_rights }}</div>
<hr class="space">
<div class="span-16">
<p>
{{ book.a_summary }}
</p>
</div>
<hr>

{% if allow_user_comments %}
<div class="span-16">
<label>Readers comments:</label>
</div>
<hr class="space">
{% for comment in comments_list %}
<div class="span-16">{{ comment.comment }} <i> {{ comment.user_name }}</i></div>
<hr class="space">
{%  endfor %}

    <script type="text/javascript">
        function validateForm(form) {
            if (form['user_name'].value == '') {
                alert('Please, write your name');
                form['user_name'].focus();
                return false;
            }
            if (form['comment'].value == '') {
                alert('Please, write your comment');
                form['comment'].focus();
                return false;
            }
            input_result = -1;
            input_result = parseInt(form['result'].value);
            if (input_result != {{ captcha_result }}) {
                alert('Wrong value');
                return false;
            };
            return true;
        }
    </script>

<hr>

<div class="span-16">
<label>Add your comment:</label>
</div>
<hr class="space">

    <form action="/add_comment/" method="post" name="add_comment"
            onsubmit="return validateForm(this)">
        <div class="span-4"><label>Your name:</label></div>
        <input type="input" name="user_name">
        <hr class="space">
        <div class="span-4"><label>Your comment:</label></div>
        <textarea name="comment" rows="4" cols="50" style="height:50px">
        </textarea>
        <hr class="space">

        <div class="span-4"><label>The result of {{ simple_captcha }} is:</label></div>
        <input type="input" name="result">
        <input type="hidden" name="book_id" value="{{book.a_id}}">

        <hr class="space">
        {% csrf_token %}
        <input type="submit" value="Add">
    </form>

</div>
{% endif %}

</div>

<div class="span-6 last" id="sidebar">
{% if  book.cover_img %}
<img src="{{ book.cover_img.url }}" alt="Cover" width=150px/>
{% else %}
<img src="{{ STATIC_URL }}images/generic_cover.png" alt="Cover" width=150px/>
{% endif %}
<hr class="space">
<a href="{% url pathagar.books.views.download_book book.pk %}">Download book</a>
</div>


</div>

{%  endblock %}

