{% extends "base.html" %}

{% block title %}{% if action == 'add' %}
Add Book
{% else %}
Edit Book
{% endif %}
{% endblock %}

{% block script %}
$(document).ready(function()
{
  $(".hidden_body").hide();
  $(".hidden_head").click(function()
  {
    $(this).next(".hidden_body").slideToggle(100);
  });
  $('#id_dc_identifier').example('ISBN');
});
{% endblock %}

{% block head %}<script type="text/javascript" src="{{ STATIC_URL }}js/RelatedObjectLookups.js"></script>{% endblock %}

{% block content %}
<form  enctype="multipart/form-data"
{% if action == 'add' %}
  action="{% url pathagar.books.views.add_book %}"
{% else %}
  action="{% url pathagar.books.views.edit_book book.pk %}"
{% endif %}
method="POST">{% csrf_token %}
<fieldset>
<legend>
{% if action == 'add' %}
Add Book
{% else %}
Edit Book
{% endif %}
</legend>
<div class="span-3 required"><label for="id_book_file">File:</label></div>
<div class="span-4">{{ form.book_file }}</div>
{{ form.book_file.errors }}
<hr class="space">
<div class="span-3 required"><label for="id_a_title">Title:</label></div>
<div class="span-4">{{ form.a_title }}</div>
{{ form.a_title.errors }}
<hr class="space">
<div class="span-3 required"><label for="id_a_author">Author:</label></div>
<div class="span-4">{{ form.a_author }}</div>
{{ form.a_author.errors }}
<hr class="space">
<div class="span-3 required"><label for="id_a_status">Status:</label></div>
<div class="span-4">{{ form.a_status }}</div>
{{ form.a_status.errors }}
<hr class="space">
<div class="span-3"><label for="id_tags">Tags:</label></div>
<div class="span-4 last">{{ form.tags }}</div>
<hr class="space">
<div class="span-3"><label for="id_a_summary">Summary:</label></div>
<div class="span-4"></div><div class="span-8">{{ form.a_summary  }}</textarea></div>
<hr class="space">
<div class="span-3"><label for="id_dc_language">Language:</label></div>
<div class="span-4">
{{ form.dc_language }}
</div>
<hr class="space">

<div>
<p class="hidden_head">Optional information <a href="#">(click to expand)</a></p>
<div class="hidden_body">
<div class="span-3"><label for="id_a_category">Category:</label></div>
<div class="span-4">{{ form.a_category }}</div>
<hr class="space">
<div class="span-3"><label for="id_a_rights">Rights:</label></div>
<div class="span-4">{{  form.a_rights}}</div>
<hr class="space">
<div class="span-3"><label for="id_dc_publisher">Publisher:</label></div>
<div class="span-4">{{  form.dc_publisher }}</div>
<hr class="space">
<div class="span-3"><label for="id_dc_issued">Issued: </label></div>
<div class="span-4">{{  form.dc_issued }}</div>
<hr class="space">
<div class="span-3"><label for="id_dc_identifier">Identifier: </label></div>
<div class="span-4">{{  form.dc_identifier }}</div>
<hr class="space">
<div class="span-3"><label for="id_downloads">Downloads:</label></div>
<div class="span-4 last">{{ form.downloads }}</div>
<hr class="space">
<div class="span-3"><label for="id_dc_identifier">Cover image: </label></div>
<div class="span-4">{{  form.cover_img }}</div>
<hr class="space">
</div>
</div>

<div class="span-4 prepend-21 last">
<input type="submit"
{% if action = 'add' %}
  value="Add">
{% else %}
  value="Edit">
{% endif %}
</div>
</fieldset>
</form>
{% endblock %}
