{% extends "base.html" %}
{% load tagging_tags %}

{% block title %}{{ book.a_title }} :: Pathagar Book Server{% endblock %}

{% block script %}
  {{ block.super }}
  $('#search').example('Book Search...');
{% endblock %}

{% block content %}

<div id="content">

<h1 class="alt">{{ book.a_title }}</h1>
<h2>by <span class="alt">{{ book.a_author }}</span></h2>
<hr class="space">
{% if user.is_authenticated %}
<div class="span-3">
<a class="button" href="{% url pathagar.books.views.edit_book book.pk %}">Edit</a>
<a class="button" href="{% url pathagar.books.views.remove_book book.pk %}">Remove</a>
</div>
<hr class="space">
<hr class="space">
<div class="span-2"><label>Status:</label></div>
<div class="span-3">{{ book.a_status }}</div>
<hr class="space">
{% endif %}

{% if book.tags.count != 0 %}
  <div class="span-2"><label>Tags:</label></div>
  <div class="span-10">
  {% for tag in book.tags.all %}
    <a class="button" href="{% url by_tag tag.name %}">{{ tag.name }}</a>
  {% endfor %}
  </div>
  <hr class="space">
{% endif %}
<div class="span-16 colborder">
<div class="span-2"><label>Language:</label></div>
{% ifnotequal book.dc_language None %}
<div class="span-3">{{ book.dc_language }}</div>
{% else %}
<div class="span-3">Unknown</div>
{% endifnotequal %}
<hr class="space">
<div class="span-2"><label>Downloads:</label></div>
<div class="span-3">{{ book.downloads }}</div>
<hr class="space">
<div class="span-2"><label>Publisher:</label></div>
<div class="span-3">{{ book.dc_publisher }}</div>
<hr class="space">
<div class="span-2"><label>Published:</label></div>
<div class="span-3">{{ book.dc_issued }}</div>
<hr class="space">
<div class="span-2"><label>Rights:</label></div>
<div class="span-3">{{ book.dc_rights }}</div>
<hr class="space">
<div class="span-16">
<p>
{{ book.a_summary }}
</p>
</div>
<hr>
</div>

<div class="span-6 last" id="sidebar">
{% if  book.cover_img %}
<img src="{{ book.cover_img.url }}" alt="Cover" width=150px/>
{% else %}
<img src="{{ STATIC_URL }}images/generic_cover.png" alt="Cover" width=150px/>
{% endif %}
<hr class="space">
<a href="{% url pathagar.books.views.download_book book.pk %}">Download book</a>
</div>


</div>

{%  endblock %}

