{% extends "base.html" %}

{% block title %}{{ book.a_title }} :: Pathagar Book Server{% endblock %}

{% block script %}
  {{ block.super }}
  $('#search').example('Book Search...');
{% endblock %}

{% block content %}

<div id="content">

<h1 class="alt">Tags {% if tag_group %} by {{ tag_group }}{% endif %}</h1>
<hr class="space">

{% if tag_list %}
<div class="span-2"><label>Tags:</label></div>
<div class="span-10">
{% for tag in tag_list %}
<a class="button" href="{% url by_tag tag.name %}">{{ tag.name }}</a>
{% endfor %}
</div>
<hr class="space">
{% endif %}

{% if tag_group_list %}
<div class="span-2"><label>Tag groups:</label></div>
<div class="span-10">
{% for tag_group in tag_group_list %}
<a class="button" href="{% url tag_groups tag_group.slug %}">{{ tag_group.name }}</a>
{% endfor %}
</div>
<hr class="space">
{% endif %}

{%  endblock %}

