<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<head>
  <link rel="stylesheet" href="/static_media/style/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/static_media/style/blueprint/print.css" type="text/css" media="print"> 
  <link rel="stylesheet" href="/static_media/style/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static_media/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="stylesheet" href="/static_media/style/style.css" type="text/css">

  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript" src="/static_media/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/static_media/js/jquery.example.min.js"></script>
  <script type="text/javascript">{% block script %}{% endblock %}</script>

</head>
<body>
<div class="header">
<a href="{% url pathagar.books.views.page %}"><h1><em>Pathagar</em> Book Server</h1></a>
<div class="searchbox">
    {% block searchform %}{% endblock %}
</div>
</div>
<div class="container">
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <div class="span-12 prepend-6 footer">
        <small>
        This is the <em>Pathagar</em> book server. A list of books in the server can be found <a href="/">here</a>.
        <br>
        Books can be added to this server via this <a href="/addbook">page</a>.
        <br>
        An <acronym title="Open Publication Distribution System">OPDS</acronym> feed is also <a href="/catalogs">available</a>.
        </small>
    </div>
<div>
</body>
</html>

