<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<pre>
  <link rel="stylesheet" href="/static_media/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/static_media/blueprint/print.css" type="text/css" media="print"> 
  <link rel="stylesheet" href="/static_media/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  <!--[if lt IE 8]> 
    <link rel="stylesheet" href="/static_media/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
</pre>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>

