{% extends "base.html" %}

{% block title %}{{ book.a_title }} :: Pathagar Book Server{% endblock %}

{% block script %}
$(document).ready(function()
{
  $('#search').example('Book Search...');
});
{% endblock %}

{%block searchform %}
<form action="{% url pathagar.books.views.page %}" method="get">
<input id="search" type="text" name="q" />
<input id="submit" type="submit" value="Submit" />
</form>
{% endblock %}

{% block content %}

<div id="content">

<h1 class="alt">{{ book.a_title }}</h1>
<h2>by <span class="alt">{{ book.a_author }}</span></h2>
<hr class="space">

<div class="span-16 colborder">
<div class="span-2"><label>Language:</label></div>
{% ifnotequal book.dc_language None %}
<div class="span-3">{{ book.dc_language }}</div>
{% else %}
<div class="span-3">Unknown</div>
{% endifnotequal %}
<hr class="space">
<div class="span-2"><label>Publisher:</label></div>
<div class="span-3">{{ book.dc_publisher }}</div>
<hr class="space">
<div class="span-2"><label>Published:</label></div>
<div class="span-3">{{ book.dc_issued }}</div>
<hr class="space">
<div class="span-2"><label>Rights:</label></div>
<div class="span-3">{{ book.dc_rights }}</div>
<hr class="space">
<div class="span-2">
<a href="{% url pathagar.books.views.edit_book book.pk %}">Edit</a>
<a href="{% url pathagar.books.views.remove_book book.pk %}">Remove</a>
</div>
<hr class="space">
<div class="span-16">
<p>
{{ book.a_summary }}
</p>
</div>
<hr>
</div>

<div class="span-6 last" id="sidebar">
{% if  book.cover_img %}
<img src="{{book.cover_img.url}}" alt="Cover" width=150px/>
{% else %}
<img src="/static_media/images/generic_cover.png" alt="Cover" width=150px/>
{% endif %}
<hr class="space">
<a href="{{book.book_file.url}}">Download book</a>
</div>


</div>

{%  endblock %}

