{% extends "base.html" %}


{% block content %}
<div class="container">
{% for book in books.object_list %}

<h1>{{ book.a_title }}</h1>
<h2 class="alt">{{ book.a_author }}</h2>
<p>{{ book.a_summary }}</p>
<div class="span-4 prepend-21 last"><em><a href="{{book.file.url}}">Download</a></em></div>
<hr/>
{%  endfor %}

<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>
{%  endblock %}

