{% extends "base.html" %}

{% block content %}
{% for book in books.object_list %}

{{ book.a_title }} <br>
{{ book.a_author }} <br>
{{ book.a_summary }}<br>

{%  endfor %}

<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
            <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{%  endblock %}

